.header {
  margin-bottom: 20px;
}

.header button {
  margin-right: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.header button.active {
  background-color: #007bff;
  color: white;
}

.header button:hover {
  background-color: #e0e0e0;
}

.room-columns {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.column {
  width: 45%;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.column-header i {
  font-size: 30px;
  margin-right: 10px;
}

.available-icon {
  color: green;
}

.booked-icon {
  color: red;
}

.room-list {
  list-style: none;
  padding: 0;
}

.room-list li {
  margin: 10px 0;
}

.badge {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: yellow; /* Default badge color */
  color: black;
}